<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://software41backgroundcheck.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>software41backgroundcheck.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>software41backgroundcheck</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$software41backgroundcheck</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BackgroundCheckDb" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:hxv1ffetxw.database.windows.net,1433;Initial Catalog=BackgroundCheckDb;User ID=backgroundcheckadmin@hxv1ffetxw;Password=Gogoxml384!!" Name="Data Source=tcp:hxv1ffetxw.database.windows.net,1433;Initial Catalog=BackgroundCheckDb;User Id=backgroundcheckadmin@hxv1ffetxw;Password=Gogoxml384!!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Software41.BackgroundCheck.Repository.EF.BackgroundCheckContext, Software41.BackgroundCheck.Repository.EF" MigrationConfiguration="Software41.BackgroundCheck.Repository.EF.Migrations.Configuration, Software41.BackgroundCheck.Repository.EF" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BackgroundCheckDb-Web.config Connection String">
      <ParameterValue>Data Source=tcp:hxv1ffetxw.database.windows.net,1433;Initial Catalog=BackgroundCheckDb;User Id=backgroundcheckadmin@hxv1ffetxw;Password=Gogoxml384!!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>